@import "tailwindcss";

/* A tiny custom utility to hide the ugly scrollbar but keep functionality */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}